
/*

body {
    background-color: #ffffff;

    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    max-width: 400px;
    margin: auto;
    color: #d1abab;
}
*/

.image1 {
    width: 90%;
    /*
    width: 250px; 
    max-width: 100%;
    height: auto; 
    margin-left: 10px; */
}
.sdsulogo{
    max-width: 100%;
    height: auto;
    
}
.dhlogo{
    max-width: 100%;
    height: auto;
}

.wblogo{
    max-width: 100%;
    height: auto;
}
/*
bottom: -40%;
left: 60%;
width: 20%;
float:right;



/*
    max-width: 100%;
    position:relative;
    background-repeat: no-repeat; */

.background {
    height:100vh;
    background: url('img/HomeBackgroundA.jpg');
    background-size: cover;
}
/*
#about{
    background-color: grey; 
} */
#experience{
    background-color: #e6e9f2;
}


/* text css above hero image*/
.intro_title {
    font-size: 4.5rem;
}
.intro_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* Navbar Section*/
.navbar{
    background-color: transparent;
    transition: all 0.8s;
    
}


.navbarScroll{
    background: black;
    box-shadow: 0 3px 10 px rgba(0,0,0,0.15);
}



.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
  } 