html{
    scroll-behavior: smooth;
}

/* Navbar Section*/
.navbar{
    background-color: transparent;
    transition: all 0.8s;
    
}

.navbarScroll{
    background:  #1d2ab1;
    box-shadow: 0 3px 10 px rgba(0,0,0,0.15);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
  } 


/* background */
.background {
    height:100vh;
    background: url('img/BackgroundD.jpg');
    background-size: cover;
}
.intro_title {
    font-size: 4.5rem;
}
.intro_desc {
    font-size: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* About Section */

.image1 {
    width: 90%;
}

/* Education Section */

#education{
    background: url('img/BackgroundD.jpg');
  /*  background-color: #def2fc; */
    padding-bottom: 20px;
}

.containerA {
    position: relative;
    
  }
  
  .sdsulogo2 {
    display: block;
    width: 65%;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    
  }
  
  .middleA {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 75%;
    opacity: 0;
    transition: .65s ease;
    background-color: #ffffff;
    
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .containerA:hover .middleA {
    opacity: 1;
  }
  
  .textA {
    width: 80%;
    color: #1d2ab1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    font-size: 2.0rem;
    text-align:left;
    
  }
  .textA h4{
    font-size: 2.25rem;
  }
  @media (max-width: 1200px) {
    .textA {
      font-size: 1.0rem; /* Adjusted font size for smaller screens */
    }
    .textA h4{
        font-size: 1.25rem;
      }
  }
  
  @media (max-width: 768px) {
    .textA {
      font-size: 0.75rem; /* Further adjusted font size for smaller screens */
    }
    .textA h4{
        font-size: 1.00rem;
      }
  }
  
  @media (max-width: 576px) {
    .textA {
      font-size: 0.5rem; /* Adjusted font size for mobile screens */
    }
    .textA h4{
        font-size: 0.8rem;
      }
  }

  .containerB {
    position: relative;
    
  }
  
  .wblogo2 {
    display: block;
    width: 65%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
  }
  
  .middleB {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 75%;
    opacity: 0;
    transition: .65s ease;
    background-color: white;

    margin-left: auto;
    margin-right: auto;

  }
  
  .containerB:hover .middleB {
    opacity: 1;
  }
  
  .textB {
    width: 80%;
    color: #1d2ab1;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 2.0rem;
    text-align:left;
  }

  .textB h4{
    font-size: 2.25rem;
  }
  @media (max-width: 1200px) {
    .textB {
      font-size: 1.0rem; /* Adjusted font size for smaller screens */
    }
    .textB h4{
        font-size: 1.25rem;
      }
  }
  
  @media (max-width: 768px) {
    .textB {
      font-size: 0.75rem; /* Further adjusted font size for smaller screens */
    }
    .textB h4{
        font-size: 1.00rem;
      }
  }
  
  @media (max-width: 576px) {
    .textB {
      font-size: 0.5rem; /* Adjusted font size for mobile screens */
    }
    .textB h4{
        font-size: 0.8rem;
      }
  }

/* Experience */

.sdsulogo{
    max-width: 100%;
    height: auto;
    
}
.dhlogo{
    max-width: 100%;
    height: auto;
}

.wblogo{
    max-width: 100%;
    height: auto;
}
.eglogo{
  max-width: 100%;
  height: auto;
}
.AQlogo {
  max-width: 100%;
  height: auto;
}



/* Project Section*/
#projects{
    background: url('img/BackgroundD.jpg');
}

.text-container {
    display: none;
}

.col-sm-5:hover .text-container {
    display: block;
}

.ContactContainer {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .ContactContainer li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    margin: 0 10px;
    cursor: pointer;
   }

   .ContactContainer li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 6px;
    background: #2159cf;
    transition: all 0.3s ease-in;
   }

   .ContactContainer li:hover:before {
    transform: rotate(360deg);
    border-radius: 50%;
   }

   .ContactContainer li a span {
    font-size: 27px;
    line-height: 70px;
    color: whitesmoke;
    transition: all 0.3s ease-out;
   }

   .ContactContainer li:hover a span {
    transform: scale(1.1);
   }










  