
/*

body {
    background-color: #ffffff;

    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    max-width: 400px;
    margin: auto;
    color: #d1abab;
}
*/

.image1 {
    display: none;
    width: 50px; 
    max-width: 100%;
    height: auto; 
    margin-left: 10px; 
}




.background {
    height:100vh;
    background: url('img/HomeBackground.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}




.navbar{
    background-color: transparent;
    transition: all 0.5s;
}

.nav.navbar-nav.ms-auto li a {
    color: blue;
}


.navbarScroll{
    background: gray;
    box-shadow: 0 3px 10 px rgba(0,0,0,0.15);
}
